@import 'tailwindcss';

/* Custom gradient background */
@layer utilities {
  .bg-gradient-main {
    background: linear-gradient(90deg, #eacdff, #b3dcff, #8effe4);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
